{% extends "base.html.twig" %}

{% block body %}

  <h2>Liste des utilisateurs</h2>
    <ul>
    {% for utilisateur in utilisateurs %}
        <li>{{ utilisateur }}</li>
        {# Ici la variable qui contine la liste des utilisateur correspond à celle déclarer après le in 
        Celui d'avant correspond à elment
        #}
    {% endfor %}
    </ul>

{% endblock %}