{% extends "base.html.twig" %}

{% block title %}INSCRIPTION{% endblock %}

{% block body %}
    <section class="container mt-5">
        <h1 class="text-center">INSCRIPTION</h1>
         {{form(formuser)}}
    </section>
{% endblock %}