body {
    background-color: #F7F7F7;
}
nav{
    display: block;
    
}
ul{
    display: flex;   
}
li{    
    list-style: none;
    padding: 10px;
}
.linknav{
    text-decoration: none;
    color:#583101;
}
