{% extends "base.html.twig" %}

{% block title %}Formulaire Catégorie{% endblock %}

{% block body %}
    <section class="col-6 offset-3">
    <h1 class="text-center">Formulaire d'ajout</h1>       
        {{ form(form)}}
    </section>
    
{% endblock %}